body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  line-height: 32px;
  background-color: #FDC400;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

input {
    display: block;
    margin: 10px auto;
    height: 40px;
    padding: 10px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.randomizer {    
  width: 800px;
  margin: auto auto;
  border: 6px solid #EEA20D;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  background-color: #FFD47F;
}

.randomizer__item {
    margin-bottom: 25px;
}

.randomizer__result {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;    
}

.randomizer__result {
    text-align: center;
}

.randomizer__btn {
  padding: 15px;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  line-height: 24px;  
  border-radius: 20px;
  border: 3px solid #EEA20D;  
  background-color: #FDC400;
  text-transform: uppercase;
}

.randomizer__btn:hover,
.randomizer__btn:active {
  background-color: rgba(253, 196, 0, 0.35);
  color: #fff;
  transition: 0.4s all;
}